.fundoCadastro {
    background-image: url(https://docs.google.com/uc?id=16Rz31Xr2HyPctzxNdN4eBmLrcUZY0bZ3);
    background-repeat: no-repeat;
    width: 60%;
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}