@tailwind base;
@tailwind components;
@tailwind utilities;


.text-area {
    margin: 20px;
  }

  .text-area {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
  }